<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<meta http-equiv="refresh" content="15;index.html">
<title>Свитер &amp; Бубен ERROR FATAL</title>
<style type="text/css">
<!--
body,td,th {
	font-family: Terminal;
	font-size: 18px;
	color: #FFFFFF;
}
body {
	background-color: #003efd;
}
-->
</style></head>

<body>
<table width="841" border="0" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <th width="841" bgcolor="003efd" scope="col"><div align="left">
      
    <p>A problem has been detected and windows has been shut down to prevent damange to you computer</p>
    <p>DRIVER_IRQ_NOT_LESS_OR_EQUAL</p>
    <p>If this is the first time you've seen this Stop error screen, restart your computer, If this screen appears again, follow these steps:</p>
    <p>Check to make sure any new hardware or software is properly installed. If this is a new installation, ask you hardware or software manufacturer for any windows updates you mught need.</p>
    <p>If problem continue, disable or remove any newly installed hardware or sowtware. Disable BIOS memore option such as caching or swadowing. If you need to use Safe Mode to remove or disable components, restart you computer, press F8 to select Advanced Startup Options, and then select Safe Mode.</p>
    <p>Technical information:</p>
    <p>***STOP: 0x000000D1 (0x0000000C, 0x000000002, 0x00000000, 0xF86B5A89)</p>
    <p>*** sviter&amp;buben.sys - Address F86B5A89 base at F86B5000, DateStamp 3dd991b</p>
    <p>Beginning dump of physical memory</p>
    <p>Complete</p>
    <p>Contact Sviter&amp;Buben for further assistance.</p></div></th>
  </tr>
</table>
<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter7268500 = new Ya.Metrika({id:7268500, enableAll: true});
        }
        catch(e) { }
    });
})(window, 'yandex_metrika_callbacks');
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/7268500" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
