<html>
<head>
<title>Banner Porno</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<style type="text/css">
<!--
body,td,th {
	font-family: Terminal;
	font-size: 18px;
	color: #FFFFFF;
}
body {
	background-color: #e20079;
	margin-top: 50px;
}
.style1 {
	font-size: 36px;
	color: #000000;
}
-->
</style>
<SCRIPT LANGUAGE="JavaScript"> 
 
 

var flag = 1;
function t() {
if(flag == 1) {
N.style.top = "475px";
N.style.left = "1000px";
}
if(flag == 2) {
N.style.top = "415px";
N.style.left = "100px";
}
if(flag == 3) {
N.style.top = "210px";
N.style.left = "600px";
}
flag = flag + 1;
if(flag == 4) {
flag = 1;
   }
}


</script> 
</head>
<body leftmargin="0" marginwidth="0">

<table width="901" height="541" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
<tr>
		<td colspan="9">
			<img src="images/sib_banner_01.gif" width="900" height="25" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr>
		<td rowspan="6">
			<img src="images/sib_banner_02.gif" width="147" height="515" alt=""></td>
		<td>
			<img src="images/sib_banner_03.gif" width="188" height="171" alt=""></td>
		<td rowspan="6">
			<img src="images/sib_banner_04.gif" width="12" height="515" alt=""></td>
		<td>
			<img src="images/sib_banner_05.gif" width="189" height="171" alt=""></td>
		<td rowspan="6">
			<img src="images/sib_banner_06.gif" width="13" height="515" alt=""></td>
		<td colspan="2">
			<img src="images/sib_banner_07.gif" width="189" height="171" alt=""></td>
		<td colspan="2" rowspan="2">
			<img src="images/sib_banner_08.gif" width="162" height="368" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="171" alt=""></td>
	</tr>
	<tr>
		<td rowspan="5">
			<img src="images/sib_banner_09.gif" width="188" height="344" alt=""></td>
		<td rowspan="3">
			<img src="images/sib_banner_10.gif" width="189" height="301" alt=""></td>
		<td colspan="2">
			<img src="images/sib_banner_11.gif" width="189" height="197" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="197" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img src="images/sib_banner_12.gif" width="22" height="147" alt=""></td>
		<td colspan="2" bgcolor="#FFFFFF"><div align="center"><span class="style1">895-131-10-131</span></div></td>
<td rowspan="4">
			<img src="images/sib_banner_14.gif" width="34" height="147" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="54" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3">
			<img src="images/sib_banner_15.gif" width="295" height="93" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="50" alt=""></td>
	</tr>
	<tr>
		<td width="189" height="33" background="images/sib_banner_16.gif">
        
        <DIV ID="N" STYLE="position:absolute; left:577px; top:553px; width:50px; height:50px;"> 
<form> 
<input type=button value="CLOSE" onMouseover="t()"> 
</form> 
</DIV> 
        
        </td>
<td>
			<img src="images/spacer.gif" width="1" height="33" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/sib_banner_17.gif" width="189" height="10" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="10" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/spacer.gif" width="147" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="188" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="12" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="189" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="13" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="22" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="167" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="128" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="34" height="1" alt=""></td>
		<td></td>
	</tr>
</table>

</body>
</html>