{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="свитер и бубен" />
    <meta name="description" content="Свитер &amp; Бубен Мастерская ЭВМ" />
    <title>Свитер &amp; Бубен Мастерская ЭВМ - обслуживание компьютеров, ремонт компьютеров!</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&subset=latin,cyrillic" rel="stylesheet" />
    <link href="{% static 'css/css-nextdoor.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/nextdoor.js' %}" type="text/javascript"></script>
</head>

<body>
  
    <table width="1010" height="556" border="0" align="center" bgcolor="#003efd">
        <tr>
            <th>
                <a href="/">Back to Home</a>
                <h1 class="style1">Мастерская ЭВМ Свитер & Бубен Setup</h1>
                <table class="out" width="953" border="1" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                        <th width="50%">
                            <blockquote>
                                <div id="divLinks">
                                    <table width="1010" height="556" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#003efd">
                                        <tr>
                                            <th scope="col">
                                                <p align="center" class="style1">
                                                    <!-- <span class="style13">Мастерская ЭВМ Свитер и Бубен Setup</span> -->
                                                </p>
                                                <table class="out" width="953" border="1" align="center" cellpadding="2" cellspacing="0">
                                                    <tr>
                                                        <th scope="col">
                                                            <table class="out" width="100%" border="1" cellpadding="1" cellspacing="0">
                                                                <tr>
                                                                    <th width="50%" height="270" scope="col">
                                                                        <blockquote>
                                                                            <div align="left" class="box" id="divLinks"> 
                                                                                <table width="100%" border="1" cellpadding="0" cellspacing="10" bordercolor="#CCCCCC">
                                                                                    <tr bgcolor="#FF0000">
                                                                                        <th width="67%" scope="col"><span class="style4">Вид услуг</span></th>
                                                                                        <th width="33%" scope="col"><span class="style4">Примерные расценки</span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Удаление смс-вымогателей, порно-банеров</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index = Math.floor(Math.random() * quotes.length);
                                                                                                document.write("<i>\"" + quotes[index] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Установка драйверов</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes2 = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index2 = Math.floor(Math.random() * quotes2.length);
                                                                                                document.write("<i>\"" + quotes2[index2] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Установка ПО</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes3 = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index3 = Math.floor(Math.random() * quotes3.length);
                                                                                                document.write("<i>\"" + quotes3[index3] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Выезд Инженера ЭВМ на дом\ на дачу\ в гараж</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes4 = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index4 = Math.floor(Math.random() * quotes4.length);
                                                                                                document.write("<i>\"" + quotes4[index4] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Диагностика ПК</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes5 = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index5 = Math.floor(Math.random() * quotes5.length);
                                                                                                document.write("<i>\"" + quotes5[index5] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Восстановление информации</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes6 = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index6 = Math.floor(Math.random() * quotes6.length);
                                                                                                document.write("<i>\"" + quotes6[index6] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Установка ОС</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes7 = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index7 = Math.floor(Math.random() * quotes7.length);
                                                                                                document.write("<i>\"" + quotes7[index7] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Работа с ХДД</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes8 = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index8 = Math.floor(Math.random() * quotes8.length);
                                                                                                document.write("<i>\"" + quotes8[index8] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Тестирование и устраниение<br /> неисправностей</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes9 = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index9 = Math.floor(Math.random() * quotes9.length);
                                                                                                document.write("<i>\"" + quotes9[index9] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Обучение работе с ПК</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes1 = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index1 = Math.floor(Math.random() * quotes1.length);
                                                                                                document.write("<i>\"" + quotes1[index1] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Разработка сайта</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes10 = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index10 = Math.floor(Math.random() * quotes10.length);
                                                                                                document.write("<i>\"" + quotes10[index10] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Подбор оборудования</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes11 = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index11 = Math.floor(Math.random() * quotes11.length);
                                                                                                document.write("<i>\"" + quotes11[index11] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Настройка Интернет</span></th>
                                                                                        <th scope="col"><span class="style4">
                                                                                            <script>
                                                                                                let quotes12 = ["1000 р.", "100 р.", "2 р.", "300000 р.", "0,5 л", "500 р."];
                                                                                                let index12 = Math.floor(Math.random() * quotes12.length);
                                                                                                document.write("<i>\"" + quotes12[index12] + "\"</i>");
                                                                                            </script>
                                                                                        </span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="col"><span class="style4">Иные проблемы</span></th>
                                                                                        <th scope="col"><span class="style4">договор</span></th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th colspan="2" bgcolor="#FF0000" scope="col">
                                                                                            <span class="style4"><strong>ПАКЕТ УСЛУГ &quot;Жалко денег&quot;</strong></span>
                                                                                        </th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th colspan="2" scope="col">
                                                                                            <span class="style4"></span>
                                                                                            <table frame="void" cellspacing="0" cols="6" rules="none" border="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td height="23" colspan="6" align="center" valign="bottom" bgcolor="#ff9f33" sdnum="1033;1033;General">
                                                                                                            <span class="style7">Установка ОС с дистрибутива клиента</span>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td height="23" colspan="6" align="center" valign="bottom" bgcolor="#ff9f33" sdnum="1033;1033;General">
                                                                                                            <span class="style7">Установка драйверов и ПО, предоставленных клиентом</span>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td height="23" colspan="6" align="center" valign="bottom" bgcolor="#ff9f33" sdnum="1033;1033;General">
                                                                                                            <span class="style7">Все делаем молча и без ответов на глупые вопросы.</span>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>                         
                                                                                            <span class="style4"></span>
                                                                                        </th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th colspan="2" bgcolor="#FF0000" scope="col">
                                                                                            <span class="style4"><strong>ПАКЕТ УСЛУГ &quot;В ТЕМЕ&quot; </strong></span>
                                                                                        </th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th colspan="2" scope="col">
                                                                                            <table frame="void" cellspacing="0" cols="6" rules="none" border="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td height="23" colspan="6" align="center" valign="bottom" bgcolor="#009900" sdnum="1033;1033;General">
                                                                                                            <span class="style4">Установка и настройка нашей сборки ОС</span>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td height="23" colspan="6" align="center" valign="bottom" bgcolor="#009900" sdnum="1033;1033;General">
                                                                                                            <span class="style4">Свои/клиентские драйвера, подбор наилучших вариантов</span>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td height="23" colspan="6" align="center" valign="bottom" bgcolor="#009900" sdnum="1033;1033;General">
                                                                                                            <span class="style4">Установка проверенного ПО, Ответы на возникающие вопросы.</span>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th colspan="2" bgcolor="#FF0000" scope="col">
                                                                                            <span class="style4"><strong>ПАКЕТ УСЛУГ &quot;Я-БОГАТ&quot; - договор</strong></span>
                                                                                        </th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th colspan="2" bgcolor="#FF0000" scope="col">
                                                                                            <span class="style4">ДЕЛАЕМ ВСЕ!</span>
                                                                                        </th>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </blockquote>
                                                                    </th>
                                                                    <th width="50%">
                                                                        <blockquote>
                                                                            <p class="style11">***********///|||\\\**************<br />
                                                                                РАДЫ приветствовать на нашем сайте!<br />
                                                                                __________________________________<br />
                                                                                мы - РЕШАЕМ КОМПЬЮТЕРНЫЕ проблемы<br />
                                                                                не смотря ни на что++++++++++++++*<br />
                                                                                ВОТ уже который год................*****.<br />
                                                                                ++++++++++++++++++++++++++++++<br />
                                                                                РАБОТАЕМ РУКАМИ, думаем головой!<br />
                                                                                _________________________________<br />
                                                                                ЧИНИМ КОМПЬЮТЕРЫ ИНСТРУМЕНТАМИ!<br />
                                                                                __________________________________<br />
                                                                                ПОСЛЕ НАС ВСЕ ЗАРАБОТАЕТ____++++<br />
                                                                                __________________________________<br />
                                                                                ФИРМЕННАЯ КРУЖКА в подрарок_-_-_-<br />
                                                                                -____---___----_КА-ЖД-О-МУ!++====<br />
                                                                                хохохохохохоххохохохохохоххохохоххохо<br />
                                                                                ПРОФЕССИОНАЛЬНОЕ ОБУЧЕНИЕ <br />
                                                                                не то что у других!___++_++_______++<br />
                                                                                _________________________________<br />
                                                                                ШИРОКАЯ БАЗА ДОВОЛЬНЫХ клиентов,,,<br />
                                                                                ******************************<br />
                                                                                ЧИНИМ БЫСТРО и с гарантией!<br />
                                                                                (и даже чеком)................................<br />
                                                                                _________________________________<br />
                                                                                КРУГЛОСУТОЧНО И ЕЖЕДНЕВНО.........<br />
                                                                                (и даже чаще...)<br />
                                                                                ________________________________<br />
                                                                                ДЫ И ВООБЩЕ - мы огого! <br />
                                                                                ________________________________<br />
                                                                                так-то вот!:::::::::::::::::::::::::::::<br />
                                                                                ________________________________<br />
                                                                                так что просто... позвони!<br />
                                                                                <span class="style12">8-951-311-01-31</span><br />
                                                                                и МЫ СВИТЕР и БУБЕН примчимся!___<br />
                                                                                *****************************<br />
                                                                                ну и канечно - <a href="https://t.me/Sviteribuben" target="_blank">я Дима</a><br />
                                                                            </p>
                                                                            <p class="style11">********\\\\||||////************</p>
                                                                        </blockquote>
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <div align="center">
                                                                            <table width="246" border="1" cellpadding="0" cellspacing="5" bordercolor="#000000" bgcolor="#FF0000">
                                                                                <tr>
                                                                                    <th><a href="#" onclick="toggleSaveDialog();" title="Сэйв энд Ексит">Save &amp; Exit Setup</a></th>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <div id="divMessage">
                                                                            <p class="style4"><strong>(с) Мастерская ЭВМ 'СВИТЕР & БУБЕН'. 2212 год</strong></p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </th>
                                                    </tr>
                                                </table>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </blockquote>
                        </th>
                    </tr>
                </table>

                <div id="save">
                    <table width="380" height="100" border="2" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF">
                        <tr>
                            <th>
                                <table width="355" height="83" border="0" cellpadding="0" cellspacing="0" bgcolor="#FF0000">
                                    <tr>
                                        <th colspan="2">Save and Exit(Y/N)?</th>
                                    </tr>
                                    <tr>
                                        <th width="177"><a href="porno_bunner" class="box">Yes</a></th>
                                        <th width="178"><a href="exit_without" class="box">No</a></th>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                    </table>
                </div>

            </body>
            </html>